Body {
    color: blue;
    padding: 10px;
}

.bg-light{
    background-color: white !important;
}

img {
    width: 30%;
}

.portfolio {
    display: grid;
    grid-template: 2 auto auto auto auto / 1fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }