Body {
    color: blue;
    padding: 10px;
}

.bg-light{
    background-color: white !important;
}

img {
    width: 75%;
}

.portfolio {
    display: grid;
    grid-template: auto auto auto auto / 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
  }

h2 {
    text-align:center
}